* {
  box-sizing:border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, white -50%, purple 69.71%, pink 150%);
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container { 
  position: relative;
  width: 448px;
  height: 400px;
  background: url(/images/map88.png) no-repeat no-repeat;
  transform: scale(2.2);
  image-rendering: pixelated;
  outline: 1px solid black;


}


.basil{
  width: auto;
  border: 1px solid black;
  height: 80px;
  background-color: yellow;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);

}
.omori{
  width: auto;
  border: 1px solid black;
  height: 80px;
  color: #fff;
  background-color: white;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;


}


.hero{
  width: auto;
  border: 1px solid black;
  height: 80px;
  color: #fff;
  background-color: #2a5390;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
}

.aubrey{
  width: auto;
  border: 1px solid black;
  height: 80px;
  color: black;
  background-color: #ff6fde;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
}

.kel{
  width: auto;
  border: 1px solid black;
  height: 80px;
  color: black;
  background-color: #ff7a4c;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
}

#menu {
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: slide-down 0.3s ease-out forwards;

  background: linear-gradient(180deg, white -50%, purple 69.71%, pink 150%);
  outline: 2px solid black;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

#menu-btn {
  outline: 3px solid black;
  margin-bottom: 10px;
}

#menu-btn:hover {
  outline: 3px solid white;
}




.player-info {
  position: absolute;
  top: 0;
  left:0;
  padding: 1em;
  gap: 0.5em;
  align-items: flex-end;
}



label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 150px;
}
input[type="text"]:focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f000ff;
  border: 0;
  border-radius: 4px;
  outline: 0 wheat;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 24px;
  height: 30;
}
.Character {
  transition: transform 0.4s;
}
.Character.you {
  z-index: 1;
}
.Character.you .Character_you-arrow {
  display: block;
}

.Character_sprite {
  overflow: hidden;
  top: -3px;
  background: url(/images/seks.png);
}

.Character[data-direction="right"] .Character_sprite {
  background: url(/sprites/omori-right.png);
  width: calc(256px / 8);
  position: absolute;
  height: 31px;
  animation: animate 1s steps(8) infinite;

}

.Character[data-direction="left"] .Character_sprite {
  background: url(/sprites/omori-left.png);
  width: calc(256px / 8);
  position: absolute;
  height: 31px;
  animation: animate 1s steps(8) infinite;
}


.Character[data-direction="up"] .Character_sprite {
  background: url(/sprites/omori-up.png);
  width: calc(256px / 8);
  position: absolute;
  height: 31.5px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-direction="down"] .Character_sprite {
  background: url(/sprites/omori-down.png);
  width: calc(256px / 8);
  position: absolute;
  height: 29px;
  animation: animate 1s steps(8) infinite;
}



@keyframes animate {
  from { background-position: 0px; }
  to { background-position: 256px; }
}


.Character[data-color="hero"].Character[data-direction="left"] .Character_sprite {
  background: url(/sprites/hero-left.png);
  width: calc(256px / 8);
  position: absolute;
  height: 30px;
  animation: animate 1s steps(8) infinite;
}




.Character[data-color="hero"].Character[data-direction="right"] .Character_sprite {
  background: url(/sprites/hero-right.png);
  width: calc(256px / 8);
  position: absolute;
  height: 30px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-color="hero"].Character[data-direction="up"] .Character_sprite {
  background: url(/sprites/hero-up.png);
  width: calc(256px / 8);
  position: absolute;
  height: 31px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-color="hero"].Character[data-direction="down"] .Character_sprite {
  background: url(/sprites/hero-down.png);
  width: calc(256px / 8);
  position: absolute;
  height: 31px;
  animation: animate 1s steps(8) infinite;
}


.Character[data-color="aubrey"].Character[data-direction="left"] .Character_sprite {
  background: url(/sprites/aubrey-left.png);
  width: calc(256px / 8);
  position: absolute;
  height: 30px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-color="aubrey"].Character[data-direction="right"] .Character_sprite {
  background: url(/sprites/aubrey-right.png);
  width: calc(256px / 8);
  position: absolute;
  height: 30px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-color="aubrey"].Character[data-direction="up"] .Character_sprite {
  background: url(/sprites/aubrey-up.png);
  width: calc(256px / 8);
  position: absolute;
  height: 30px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-color="aubrey"].Character[data-direction="down"] .Character_sprite {
  background: url(/sprites/aubrey-down.png);
  width: calc(256px / 8);
  position: absolute;
  height: 30px;
  animation: animate 1s steps(8) infinite;
}


.Character[data-color="kel"].Character[data-direction="left"] .Character_sprite {
  background: url(/sprites/kel-left.png);
  width: calc(256px / 8);
  position: absolute;
  height: 30px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-color="kel"].Character[data-direction="right"] .Character_sprite {
  background: url(/sprites/kel-right.png);
  width: calc(256px / 8);
  position: absolute;
  height: 31px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-color="kel"].Character[data-direction="up"] .Character_sprite {
  background: url(/sprites/kel-up.png);
  width: calc(256px / 8);
  position: absolute;
  height: 31px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-color="kel"].Character[data-direction="down"] .Character_sprite {
  background: url(/sprites/kel-down.png);
  width: calc(256px / 8);
  position: absolute;
  height: 31px;
  animation: animate 1s steps(8) infinite;
}


.Character[data-color="basil"].Character[data-direction="left"] .Character_sprite {
  background: url(/sprites/basil-left.png);
  width: calc(256px / 8);
  position: absolute;
  height: 30px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-color="basil"].Character[data-direction="right"] .Character_sprite {
  background: url(/sprites/basil-right.png);
  width: calc(256px / 8);
  position: absolute;
  height: 30px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-color="basil"].Character[data-direction="up"] .Character_sprite {
  background: url(/sprites/basil-up.png);
  width: calc(256px / 8);
  position: absolute;
  height: 30px;
  animation: animate 1s steps(8) infinite;
}

.Character[data-color="basil"].Character[data-direction="down"] .Character_sprite {
  background: url(/sprites/basil-down.png);
  width: calc(256px / 8);
  position: absolute;
  height: 30px;
  animation: animate 1s steps(8) infinite;
}



.Character[data-color="bulut"].Character[data-direction="right"] .Character_sprite {
  background: url(/sprites/vip-right.png);
  width: calc(432px / 6);
  position: absolute;
  height: 37px;
  animation: animate3 1s steps(6) infinite;
}


.Character[data-color="bulut"].Character[data-direction="left"] .Character_sprite {
  background: url(/sprites/vip-left.png);
  width: calc(432px / 6);
  position: absolute;
  height: 37px;
  animation: animate3 1s steps(6) infinite;
}

.Character[data-color="bulut"].Character[data-direction="up"] .Character_sprite {
  background: url(/sprites/vip-right.png);
  width: calc(432px / 6);
  position: absolute;
  height: 37px;
  animation: animate3 1s steps(6) infinite;
}


.Character[data-color="bulut"].Character[data-direction="down"] .Character_sprite {
  background: url(/sprites/vip-left.png);
  width: calc(432px / 6);
  position: absolute;
  height: 37px;
  animation: animate3 1s steps(6) infinite;
}


@keyframes animate3 {
  from { background-position: 0px; }
  to { background-position: 432px; }
}


.Character_name-container {
  position: absolute;
  top: -15px;
  left: 67%; /* Sol tarafı ortalamak için değerini 50% olarak belirleyin */
  transform: translateX(-50%); /* Ortalamak için translateX() fonksiyonunu kullanın */
  font-size: 10px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  text-align: center; 
  font-family: 'Omori';
}

